<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">My Journey</h2>
        <h3 class="section-subheading text-muted">How I got here</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <%= image_tag('home/about/1.jpg', class: 'rounded-circle img-fluid', alt: '') %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">B.Sc Computer Science<br> Minor in Software Engineering (Honours)</h4>
                <h6>2009-2014</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">During my time at the University of Western Ontario, some of my most memorable projects and courses include developing modules for <%= link_to 'iWestern iOS app', 'http://mobile.uwo.ca/westernu_mobile_features.html', target: :_blank %>, <%= link_to 'Freeseer', 'https://github.com/Freeseer/freeseer', target: :_blank %>, and participating in <%= link_to 'USOCP', 'http://ucosp.ca/', target: :_blank %></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag('home/about/2.jpg', class: 'rounded-circle img-fluid', alt: '') %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Info-Tech Research Group</h4>
                <h6>February 2014 - Present</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted"> I work with my team to complete user stories, perform peer code reviews, work on system and feature design. While also supporting stakeholders with defining requirements, and resolving issues.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag('home/about/3.jpg', class: 'rounded-circle img-fluid', alt: '') %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Certified ScrumMaster</h4>
                <h6>2016</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted">As a <%= link_to 'Certified ScrumMaster', 'https://www.scrumalliance.org/community/profile/mbrawn', target: :_blank %>, I assist our team with Scrum ceremonies including Sprint Planning, Daily Stand Up, Team Demo, Sprint Retrospective, and Backlog Grooming while also removing impediments.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>More
                <br>to
                <br>Come!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
