<% title 'Homepage' %>
<div id="page-top">
  <%= render 'navbar' %>
  <%= render 'hero' %>
  <%= render 'services' %>
  <%= render 'portfolio' %>
  <%= render 'about' %>
  <%= render 'team' %>
  <%#= render 'clients' %>
  <%#= render 'contact' %>
  <%= render 'footer' %>
  <%= render 'portfolio_modals' %>
</div>
